* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #0D0D0D;
  color: #fff;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-bottom: 60px; /* Отступ для меню */
}

.header {
  margin: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: #131313; /* Цвет фона */
  padding: 12px 14vh; /* Внутренние отступы */
  border-radius: 30px; /* Закругленные углы */
  color: #fff; /* Цвет текста */
  max-width: 300px; /* Ограничение по ширине */
}


.circle-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vh;
  padding: 20px;
  width: 100%;
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  border: 5px solid;
}

.yellow {
  border-color: #ffeb3b;
}

.blue {
  border-color: #2196f3;
}

.red {
  border-color: #f44336;
}

.green {
  border-color: #4caf50;
}

.purple {
  border-color: #9c27b0;
}

.dark-blue {
  border-color: #3f51b5;
}

.circle span {
  font-size: 12px;
  font-weight: normal;
}

/* Фиксированное меню снизу */
.bottom-menu {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #131313;;
  padding: 16px 0;
  position: fixed;
  bottom: 0;
  left: 0;
}

.menu-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: #fff;
  cursor: pointer;
}

.menu-item img {
  width: 24px;
  height: 24px;
  margin-bottom: 4px;
}


/* Анимации */
.header {
  transition: transform 0.3s ease; /* Плавное увеличение */
}

.header:hover {
  transform: scale(1.1); /* Увеличение заголовка при наведении */
}

.circle {
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Плавное увеличение и тень */
}

.circle:hover {
  transform: scale(1.2); /* Увеличение круга при наведении */
}

.menu-item {
  transition: transform 0.3s ease; /* Анимация движения вверх */
}

.menu-item:hover {
  transform: translateY(-5px); /* Легкий подъем при наведении */
}

/* Убираем выделение текста */
body,
.header,
.circle,
.menu-item, img{ 
user-select: none;
-webkit-tap-highlight-color: transparent;
}
